.franchise-details {
    width: 100%;
    margin: 0;
    border-radius: 10px;
    text-align: justify;
    font-size: 1rem;
  }
  
  .franchise-details__title {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .franchise-details__description {
    margin: 20px 0;
    text-align: justify;
    line-height: 1.6;
    font-weight: 400;
  }
  
  .franchise-details__error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .franchise-details__games-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .franchise-details__games {
    margin-top: 20px;
  }
  
  .franchise-details__games-block{
    list-style-type: none;
    padding: 0;
  }
  
  .franchise-details__games-list {
    margin: 5px 0;
  }
  
  .franchise-details__games-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .franchise-details__games-link:hover {
    text-decoration: underline;
  }
  
  .franchise-details__no-info {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .character-details {
      font-size: 0.9rem;
    }
  
    .character-details__image-block,
    figure,
    img {
      max-width: 65%;
    }
  
    h2,
    h3 {
      font-size: 1.6rem;
    }
  }
  
  @media (max-width: 576px) {
    .character-details {
      font-size: 0.8rem;
    }
  
    .franchise-details__games h3 {
      font-size: 1.3rem;
    }
  
    .character-details__image-block,
    figure,
    img {
      max-width: 88%;
    }
  
    h2,
    h3 {
      font-size: 1.5rem;
    }
  }