.search {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0;
  z-index: 30;
}

.search__form {
  display: flex;
  align-items: center;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
  outline: none;
  transition: 0.3s;
}

.search__input::placeholder {
  color: #aaa;
}

.search__input:focus {
  border: 1px solid orange;
  box-shadow: 0 0 10px rgba(255,140,0,0.3);
}

.search__icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search__error {
  color: red;
  margin: 0;
  text-align: left;
  font-size: 13px;
  padding-top: 5px;
}

.search__suggestions {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 40, 0.95),
    rgba(60, 40, 40, 0.85)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6),
    0 0 15px rgba(255, 140, 0, 0.08);
  z-index:40;
}

.search__suggestions--hidden {
  display: none;
}

.search__suggestion {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.search__suggestion:hover {
  background: rgba(255, 140, 0, 0.08);
}

.search__suggestion-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.search__suggestion-name {
  text-align: left;
  font-size: 0.9rem;
  color: #ddd;
}

.search__no-suggestions {
  padding: 8px;
  color: rgb(253, 0, 0);
  text-align: center;
}

.search-results {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 0;
}

.search-results__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin: 10px 0 20px; 
}

@media (max-width: 768px) {
  .search__suggestion-name {
    font-size: 0.9rem;
  }

  .search {
    max-width: 250px;
  }

  .search__input {
    padding: 6px;
  }
}

@media (max-width: 576px) {
  .search__suggestion-name {
    font-size: 0.75rem;
  }

  .search {
    max-width: 180px;
  }

  .search__input {
    padding: 5px;
  }

  .search__suggestion-img {
    display: none;
  }
}